---
interface Props {
    dates: string;
    title: string;
    company: string;
    description: string;
    technologies: string[];
}

const { dates, title, company, description, technologies } = Astro.props;
---

<li>
    <div class="group relative grid pb-1 sm:grid-cols-8 sm:gap-8 md:gap-4">
        <header
            class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-neutral-500 sm:col-span-2"
            aria-label={dates}
        >
            <span>{dates}</span>
        </header>
        <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-neutral-200">
                <div>
                    <span
                        class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                    ></span>
                    <div class="flex gap-x-2 items-center">
                        <span
                            >{company} | ·
                            <span class="inline-block">
                                {title}
                            </span>
                        </span>
                    </div>
                </div>
            </h3>
            <p class="mt-2 text-sm leading-normal">
                {description}
            </p>
            {
                technologies.length && (
                    <ul
                        class="mt-2 flex flex-wrap"
                        aria-label="Technologies used"
                    >
                        {technologies.map((technology) => (
                            <li class="mr-1.5 mt-2">
                                <div class="flex items-center backdrop-blur-sm rounded-full border border-neutral-700 border-opacity-50 shadow bg-neutral-400/10 px-3 py-1 text-xs font-medium leading-5 text-orange-500">
                                    {technology}
                                </div>
                            </li>
                        ))}
                    </ul>
                )
            }
        </div>
    </div>
</li>
