---
import IconArrow from "./icons/arrow.astro";
import TechLabel from "./TechLabel.astro";
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro';

const { projectURL, title, description, technologies, imagePath } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('../assets/*.{jpeg,jpg,png,gif}')
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<li>
    <div
        class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
    >
        <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-neutral-700/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
        >
        </div>
        <div class="z-10 sm:order-2 sm:col-span-6">
            <h3 class="font-medium leading-snug text-neutral-200">
                <a
                    class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-orange-500 focus-visible:text-orange-500 font-semibold text-slate-200 group/link text-base"
                    href={projectURL}
                    target="_blank"
                    rel="noreferrer noopener"
                    aria-label={title}
                >
                    <span
                        class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                    ></span>
                    <div class="flex gap-x-2 items-center">
                        <span class="inline-block">
                            {title}
                            <IconArrow />
                        </span>
                    </div>
                </a>
            </h3>
            <p class="mt-2 text-sm leading-normal">
                {description}
            </p>
            <TechLabel technologies={technologies} />
        </div>
        {
            imagePath && (
                <Image src={images[imagePath]()}
                    alt={`${title} project thumbnail`}
                    class="rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1"
                    width="200"
                    height="50"
                />
            )
        }
    </div>
</li>
